:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin-top: 100px;
  margin-bottom: 50px;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.navigation-links {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.navigation-links a {
  margin: 20px;
}

.navigation-link-main {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.navigation-link-main:hover {
  color: white;
}

.navigation-link-support {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.navigation-link-support:hover {
  color: var(--primary-color);
}

.weather-app {
  margin-top: 60px;
  margin-bottom: 60px;
}

.about-paragraphs {
  margin: 15px 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

@media (max-width: 650px) {
  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 16px;
  }

  img {
    display: block;
    max-width: 75% !important;
    margin: 0 auto;
  }
  .navigation-links {
    margin-top: 27px;
    margin-bottom: 32px !important;
  }
  .app-links {
    text-align: center;
    margin-top: 25px !important;
  }
  .navigation-link-main {
    padding: 15px 13px;
  }
  .navigation-link-support {
    padding: 15px 13px;
  }
  .app-examples h2 {
    margin-top: 20px !important;
    text-align: center;
  }
  .app-examples p {
    text-align: center;
  }
  .email-link {
    font-size: 19px;
  }
}

@media (max-width: 470px) {
  h1 {
    font-size: 60px;
  }
}

@media (max-width: 300px) {
  img {
    display: none;
  }
  h1 {
    font-size: 43px;
  }
  h2 {
    font-size: 23px;
  }
}
